.header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.username{
    margin-left: auto;
}

.onClose{
    padding: 50px 100%;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}